<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/login.css">
    <title>Inicia sesión</title>
</head>
<body>
    
    <div class="container">

        <div class="img">

            <div class="text">
                <h2>DeveroCode.</h2>
                <h3>soluciones en la palma de tu mano</h3>
            </div>

        </div>


    </div>

    <section id="contac">

        <form class="form">

            <h2 class="form__title">DeveroCode</h2>
            <h3 style="font-weight:500; font-size: 1.7em;">Área de soporte</h3>
            <span style="color: #575757; font-size: 1em; font-weight: 300;">Favor de iniciar sesión</span>

            <div class="form-container">

                <div class="form-group">
                    <input type="text" id="email" class="form_input" placeholder=" ">
                    <label for="email" class="form_label">Email</label>
                    <span class="form_line"></span>
                </div>

                <div class="form-group">
                    <input type="text" id="password" class="form_input" placeholder=" ">
                    <label for="password" class="form_label">Password</label>
                    <span class="form_line"></span>
                </div>

            </div>

            <input type="submit" class="form_submit" value="🏠 Enviar mensaje">
            <a href="#">⚠ Olvidé mi contraseña</a>
        </form>

    </section>
</body>
</html>